@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin 'daisyui';

@layer base {
    :root {
        /* --font-sans: 'Inter', var(--font-sans); */
        --font-serif: 'Bodoni Moda Variable';
        --font-headline: 'Bodoni Moda SC Variable';
    }
    p {
        @apply space-y-1;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-headline);
    }
}

@layer components {
    .markdown > h1,
    .markdown > h2 {
        @apply mt-12 mb-6;
    }

    .markdown > p,
    .markdown > pre {
        @apply my-6;
    }

    .markdown > :first-child {
        @apply mt-0;
    }

    .markdown > :last-child {
        @apply mb-0;
    }

    .btn:disabled {
        @apply text-neutral-400 bg-neutral-700;
    }
}

[x-cloak] {
    display: none;
}
